# Core Dependencies
PyGObject>=3.42.0
pycairo>=1.20.0
numpy>=1.21.0
opencv-python>=4.5.0
PyYAML>=5.4.0

# DeepStream Python Bindings
# Note: pyds must be installed separately from NVIDIA DeepStream SDK
# See: https://github.com/NVIDIA-AI-IOT/deepstream_python_apps

# CAN Bus
python-can>=4.0.0
cantools>=36.0.0

# Optional: Testing
pytest>=7.0.0
pytest-cov>=3.0.0